.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
  flex-direction: column;
  gap: 1;
  width: 100%;
}
.total input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 60%;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #BC8DA6;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #BC8DA6;
  border-color: #BC8DA6;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #a76487;
  color: white;
}
.error{
  color: red;
  font-size: small;
}